{% extends 'base.html' %} {% block content %}

<div class="container p-5">
    <div class="col-lg-8 p-3 mx-auto bg-primary bg-opacity-25 border border-info rounded">
        <h1 class="text-center fw-bold">About Us</h1>
        <h5><b>Hidayet Kaya : </b>Volunteer History, Admin Pages and Event Matching System</h5>
        <h5><b>Jay Mejia : </b>Event and Notification Systems, Site Design</h5>
        <h5><b>Joel Thomas : </b>Login, Verification, and User Profile</h5>
    </div>
</div>

{% endblock %}