{% extends 'base.html' %}
{% block content %}

<div class="container">
    <br>
    <h1 class="text-center">Select an Event</h1>
    <br>
</div>

<div class="container">
    <br>
    <h3 class="text-center">Event List</h3>
    <br>
</div>

{% if events %}
    {% for event in events %}
    <div>
        {% for event in events %}
        <div>
            <h2>{{ event.name }}</h2>
            <p><strong>Description:</strong> {{ event.description }}</p>
            <p><strong>Date:</strong> {{ event.date.strftime('%Y-%m-%d') }}</p>
            <p><strong>Urgency:</strong> {{ event.urgency }}</p>
            <p><strong>Address:</strong> {{ event.address }}, {{ event.city }}, {{ event.state.name }} {{ event.zipcode }}</p>
            <p><strong>Skills Required:</strong> {% for skill in event.skills %}{{ skill.name }} {% if not loop.last %}, {% endif %}{% endfor %}</p>
            <a href="{{ url_for('event_manage', event_id=event.id) }}">Manage Event</a>
        </div>
        <hr>
        {% endfor %}
    </div>
    {% endfor %}
{% else %}
    <p class="text-center">No events available.</p>
{% endif %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock %}
