{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col-lg-8 p-3 mx-auto bg-primary bg-opacity-25 border border-info rounded">
        <h1 class="text-center">Select an Event</h1>
        <ul class="list-group">
        {% if events %}
            {% for event in events %}
            <li class="list-group-item">
                <h1><a href="{{ url_for('admin_match', event_id=event.id) }}">{{ event.name }}</a></h1>
                <p>{{ event.description }}</p>
                <p><b>Urgency: </b>{{ event.urgency }}</p>
                <p><b>Location: </b>{{ event.address }}, {{ event.city }}, {{ event.state.name }}, {{ event.zipcode }}</p>
                <p><b>Event Time: </b>{{ event.date.strftime('%Y-%m-%d') }}</p>
                <b>Required Skills:</b>
                {% for skill in event.skills %}
                    {{ skill.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </li>
            {% endfor %}
        {% else %}
            <p class="text-center">No events available.</p>
        {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
