{% extends 'base.html' %} {% block content %}

<div class="container">
	<div class="col-lg-8 p-3 mx-auto bg-primary bg-opacity-25 border border-info rounded">
		<h1 class="text-center">{{event.name}}</h1>
		<div class="col py-1 px-2 bg-light rounded">
			<p>{{ event.description }}</p>	
			<p class="d-flex justify-content-between"><b>{{ event.date.strftime("%B %d, %Y").replace(" 0", " ") }}</b><b>Urgency: {{ event.urgency }}</b></p>
			<p><b>Address:</b> {{ event.address }}, {{ event.city }}, {{ event.state.name }}, {{ event.zipcode }}</p>
	
			<p><b>Required Skills:</b> 
				{% for skill in event.skills %}
					{{ skill.name }}{% if not loop.last %}, {% endif %}
				{% endfor %}
			</p>
		</div>
		<h2 class="text-center pt-2">Notifications</h2>
		<ul class="list-group">
			{% for notification in notifications %}
				<li class="list-group-item">
					<div class="d-flex justify-content-between"><h5>{{ notification.name }}</h5>
						{% if session['role'] == 'admin' %}
						<div class="btn-group btn-group-sm">
							<a class="btn btn-outline-primary" href="{{ url_for('notification_manage',event_id=event_id,notification_id=notification.id) }}">Edit</a>
							<a class="btn btn-outline-danger" href="{{ url_for('notification_delete',event_id=event_id, notification_id=notification.id) }}" onclick="return confirm('Are you sure you want to delete this notification?')">Delete</a>
						</div>
						{% endif %}
					</div>
								
					<p>{{ notification.description }}</p>
				</li>
							
			{% endfor %}
		</ul>
	
		{% if session['role'] == 'admin' %}
		<div class="row pt-2">
			<div class="col">
				<a href="{{ url_for('notification_create', event_id=event_id) }}" class="btn btn-primary w-100">Create Notification</a>
			</div>
			<div class="col">
				<a href="{{ url_for('event_manage', event_id=event_id) }}" class="btn btn-primary w-100">Manage Event</a>
			</div>
			<div class="col">
				<a class="btn btn-danger w-100" href="{{ url_for('event_delete',event_id=event_id) }}" onclick="return confirm('Are you sure you want to delete this notification?')">Delete Event</a>
			</div>
		</div>
		{% endif %}
	</div>
</div>

{% endblock %}