{% extends 'base.html' %} {% block content %}

<div class="container">
    <main>
		<div class="col-md-9 col-sm-10 mx-auto">
			<div class="row-md-5 p-3 bg-primary bg-opacity-25 border border-info rounded">
				<div>
					<!--Links to manage event and create notification-->
					<!--Make links redirect to respective manage page and create notif page for each event-->

					<!--
					<a class="nav-link d-inline" href="{{url_for('event_manage', event_id=1)}}">[Manage Event]</a>
					<a class="nav-link d-inline" href="{{url_for('notification_create')}}">[Make a Notification]</a>
					-->
					

					<h1 class="col">{{event['event_name']}}</h1>
					<div class="col py-1 px-2 bg-light rounded">
						<ul>
							<li>Name: {{ event['event_name'] }}</li>
							<li>Description: {{ event['event_description'] }}</li>
							<li>Date: {{ event['event_date'] }}</li>
							<li>Urgency: {{ event['urgency'] }}</li>
							<li>Address: {{ event['event_address'] }}</li>
							<li>Country: {{ event['event_country'] }}</li>
							<li>State: {{ event['event_state'] }}</li>
							<li>Zipcode: {{ event['event_zipcode'] }}</li>
							<li>Required Skills: 
								{% for skill_id in event['required_skills'] %}
									{{ skill_data[skill_id] }} {% if not loop.last %}, {% endif %}
								{% endfor %}
							</li>
						</ul>
					</div>

					<h1 class="'col">Notifications</h1>
					<ul class="list-group">
						{% for notification_id, notification in notification.items() %}
							<li class="list-group-item">
								<h5>{{ notification['notification_name'] }}</h5>
								<p>{{ notification['notification_description'] }}</p>
							</li>
						{% endfor %}
					</ul>
	

					<div class="row py-2">
						<div class="col">
							<a href="{{ url_for('event_manage', event_id=event_id) }}" class="btn btn-primary w-100">Manage Event</a>
						</div>
						<div class="col">
							<a href="{{ url_for('notification_create', event_id=event_id) }}" class="btn btn-primary w-100">Create Notification</a>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</main>
</div>

{% endblock %}