{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="col-lg-8 p-3 mx-auto bg-primary bg-opacity-25 border border-info rounded">
        <h2>Manage {{ event.name }}</h2>
        <form method="POST" action="{{url_for('event_manage', event_id=event_id)}}">
            {{ form.hidden_tag() }}

            <div class="row g-2">

                <!--Event Name-->
                <div class="row-sm-6">
                    {{form.name.label(class='form-control-label')}}
                    {{form.name(class='form-control', placeholder='Event Name')}}
                    {% for error in form.name.errors %}
					    <div class="text-danger">{{ error }}</div>
				    {% endfor %}
                </div>

                <!--Event Description-->
                <div class="row-sm-6">
                    {{form.description.label(class='form-control-label')}}
                    {{form.description(class='form-control', placeholder='Event Details')}}
                    {% for error in form.description.errors %}
						<div class="text-danger">{{ error }}</div>
					{% endfor %}
                </div>

                <!--Event Date : Has a date picker | Dates prior to current date are disabled-->
                <div class="col-md-6">
                    {{form.date.label(class='form-control-label')}}
                    {{form.date(class='form-control',placeholder='Event Date')}}
                    {% for error in form.date.errors %}
						<div class="text-danger">{{ error }}</div>
					{% endfor %}
                </div>

                <!--Urgency Level : If I Can Id like to color code these | I could leave level 0 as default but id like to have the default selection force the user to make a selection-->
                <div class="col-md-6">
                    {{form.urgency.label(class='form-control-label')}}
                    {{form.urgency(class='form-control',placeholder='Urgency')}}
                    {% for error in form.urgency.errors %}
					    <div class="text-danger">{{ error }}</div>
				    {% endfor %}
                </div>

                <!--Event Address :
                Taken apart by 
                Address[string] 
                country[string/searchable selection]
                state[searchable selection]
                zipcode[string/int limit min/max]
                
                Address-->
                <div class="col-12">
                    {{form.address.label(class='form-control-label')}}
                    {{form.address(class='form-control',placeholder='1234 Main St')}}
                    {% for error in form.address.errors %}
						<div class="text-danger">{{ error }}</div>
					{% endfor %}
                </div>
                <!--City-->
                <div class="col-md-5">
                    {{form.city.label(class='form-control-label')}}
                    {{form.city(class='form-control',placeholder='City')}}
                    {% for error in form.city.errors %}
						<div class="text-danger">{{ error }}</div>
					{% endfor %}
                </div>
                <!--State-->
                <div class="col-md-4">
                    {{form.state.label(class='form-control-label')}}
                    {{form.state(class='form-control',placeholder='State')}}
                    {% for error in form.state.errors %}
						<div class="text-danger">{{ error }}</div>
					{% endfor %}
                </div>
                <!--Zipcode-->
                <div class="col-md-3">
                    {{form.zipcode.label(class='form-control-label')}}
                    {{form.zipcode(class='form-control',placeholder='Zipcode')}}
                    {% for error in form.zipcode.errors %}
						<div class="text-danger">{{ error }}</div>
				    {% endfor %}
                </div>

                <!--Required Skills : searchable Multiselect dropdown menu-->
                <div class="col-12 pb-3">
                    {{form.skills.label(class='form-control-label')}}
                    {{form.skills(class='form-control',placeholder='Required Skills')}}
                    {% for error in form.skills.errors %}
						<div class="text-danger">{{ error }}</div>
				    {% endfor %}
                </div>
            </div>
            <div class="py-2">
                {{form.submit(class='w-100 btn btn-primary btn-lg')}}
            </div>
        </form>
    </div>
</div>

{% endblock %}