{% extends 'base.html' %} {% block content %}

<div class="container">
    <main>
		<div class="col-md-9 col-sm-10 mx-auto">
			<div class="row-md-5 p-3 bg-primary bg-opacity-25 border border-info rounded">
				<div>
					<h1 class="col">{{event.name}}</h1>
					<div class="col py-1 px-2 bg-light rounded">
						<ul>
							<li>Name: {{ event.name }}</li>
							<li>Description: {{ event.description }}</li>
							<li>Date: {{ event.date }}</li>
							<li>Urgency: {{ event.urgency }}</li>
							<li>Address: {{ event.address }}</li>
							<li>City: {{ event.city }}</li>
							<li>State: {{ event.state.name }}</li>
							<li>Zipcode: {{ event.zipcode }}</li>
							<li>Required Skills: 
								{% for skill in event.skills %}
									{{ skill.name }} {% if not loop.last %}, {% endif %}
								{% endfor %}
							</li>
						</ul>
					</div>

					<h1 class="'col">Notifications</h1>
					<ul class="list-group">
						{% for notification in notifications %}
							<li class="list-group-item">
								<h5>{{ notification.name }}</h5>
								<p>{{ notification.description }}</p>
							</li>
						{% endfor %}
					</ul>
	

					<div class="row py-2">
						<div class="col">
							<a href="{{ url_for('event_manage', event_id=event_id) }}" class="btn btn-primary w-100">Manage Event</a>
						</div>
						<div class="col">
							<a href="{{ url_for('notification_create', event_id=event_id) }}" class="btn btn-primary w-100">Create Notification</a>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</main>
</div>

{% endblock %}