{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col-lg-8 p-3 mx-auto bg-primary bg-opacity-25 border border-info rounded">
        <h1 class="text-center">{{ volunteer.name }}'s History</h1>
        <div class="col py-1 px-2 bg-light rounded">
            <b>Skills:</b>
            {% for skill in volunteer.skills %}
                {{ skill.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>
        <h3 class="text-center pt-2">Volunteer History</h3>
        <div class="col bg-light">
            <table class="table">
                <thead>
                    <tr class="text-center table-info">
                        <th>Event Name</th>
                        <th>Event Description</th>
                        <th>Location</th>
                        <th>Required Skills</th>
                        <th>Urgency</th>
                        <th>Event Date</th>
                        <th>Participation Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in history %}
                    <tr class="text-center">
                        <td>{{ event.name }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.address }}, {{ event.city }}, {{ event.state }}, {{ event.zipcode }}</td>
                        <td>
                            {% for skill in event.skills %}
                                {{ skill.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ event.urgency }}</td>
                        <td>{{ event.date }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('update_status', record_id=event.id) }}">
                                
                                <select name="status">
                                    <option value="In Progress" >{% if status == 'In Progress' %}selected{% endif %}In Progress</option>
                                    <option value="Completed" >{% if status == 'Completed' %}selected{% endif %}Completed</option>
                                </select>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
