{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="text-center">{{ volunteer.name }}'s History</h1>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Event Description</th>
                <th>Participation Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for record in history %}
            <tr>
                <td>{{ record.event.name }}</td>
                <td>{{ record.event.description }}</td>
                <td>{{ record.participation_date.strftime('%Y-%m-%d') }}</td>
                <td>{{ record.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
