<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History Form</title>
    <link rel="stylesheet" href="./styles.css" />
</head>
<body>
    <div id="main">
    <h1>Volunteer History Form</h1>
    </div>


    <div class="info-box">
        <div class="info-item">
            <b>Name:</b>
            <span>John Doe</span>
        </div>
        <div class="info-item">
            <b>Skills:</b>
            <span id="skill-info">Communication, Time management, Leadership</span>
        </div>
    </div>
    <div id="second-title">
        <h3>Volunteer History</h3>
    </div>
    <div class="hist-box">
        <table id="volunteer-history">
            <tr>
                <th>Event Name</th>
                <th>Event Description</th>
                <th>Location</th>
                <th>Required Skills</th>
                <th>Urgency</th>
                <th>Event Date</th>
                <th>Participation Status</th>
            </tr>
            <tr>
                <td>Early Voting</td>
                <td>Helping voters at the polls</td>
                <td>Houston, TX (77490)</td>
                <td>Communication, Time management, Leadership</td>
                <td>Medium</td>
                <td>10/24/2024</td>
                <td>Complete</td>
            </tr>
            <tr>
                <td>Food Drive</td>
                <td>Food drive for people in need</td>
                <td>Houston, TX (73031)</td>
                <td>Communication, Time management, Leadership</td>
                <td>High</td>
                <td>12/13/2024</td>
                <td>In Progress</td>
            </tr>
        </table>
    </div>

    
</body>
</html>