{% extends 'base.html' %} 
{% block content %}

<div class="container">
    <div class="col-lg-8 p-3 mx-auto bg-primary bg-opacity-25 border border-info rounded">
        <h1 class="text-center">Users List</h1>
        <div class="d-flex justify-content-center">
        

        <table border="1" class="col-lg-12 bg-light">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                        <form action="{{ url_for('delete_user', user_id=user.id) }}" method="POST" style="display:inline;">
                            <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure you want to delete this notification?')">Delete User</button>
                        </form>
                        {% if user.role == 'volunteer' %}
                        <form action="{{ url_for('admin_volunteer_history', volunteer_id=user.id) }}" method="GET" style="display:inline;">
                            <button class="btn btn-primary" type="submit">View History</button>
                        </form>
                        {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}
