<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notification System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <main>
        <div class="col">
          <h2>Notification System</h2>
          <p class="lead">Display notifications for new event assignments, updates, and reminders</p>
          <a class="nav-link" href="/eventManager">Event Manager</a>
        </div>

        <div class="row gy-2">
          <div class="col-md-5 col-lg-4 order-md-last">
            <div class="row gx-2 p-2 bg-primary bg-opacity-25 border border-info rounded">
              <h4>Reminders</h4> 
              <ul class="list-group">
                <li class="list-group-item">First Event Reminder</li>
                <li class="list-group-item">Second Event Reminder</li>
                <li class="list-group-item">Third Event Reminder</li>
                <li class="list-group-item">Fourth Event Reminder</li>
                <li class="list-group-item">Fifth Event Reminder</li>
              </ul>
            </div>
          </div>

          <div class="col-md-7 col-lg-8 ">
            <div class="row gx-2 p-2 bg-primary bg-opacity-25 border border-info rounded-top">
              <div>
                <h4>Updates</h4>
                <div class="col px-2 bg-light rounded">              
                  <h4>Event Update 1</h4>
                  <p>Notifications from event that has yet to be read by the volunteer. This could be an update on date location or maybe new shofts opening up or roles being availiable. Once the user clicks on this it will send them to the event page with all the notifications for said event and event info.</p>            
                </div>

                <div class="col px-2 bg-light rounded">
                  <h4>Event Update 2</h4>
                  <p>Notifications from event that has yet to be read by the volunteer. This could be an update on date location or maybe new shofts opening up or roles being availiable. Once the user clicks on this it will send them to the event page with all the notifications for said event and event info.</p>
                </div>
                <div class="col px-2 bg-light rounded">
                  <h4>Event Update 3</h4>
                  <p>Notifications from event that has yet to be read by the volunteer. This could be an update on date location or maybe new shofts opening up or roles being availiable. Once the user clicks on this it will send them to the event page with all the notifications for said event and event info.</p>
                </div>
              </div>
            </div>

            <div class="row gx-2 p-2 bg-primary bg-opacity-25 border border-info rounded-bottom">
              <div>
                <h4>Assignments</h4>
                <div class="col px-2 bg-light rounded">
                  <h4>Event Name : Assignment</h4>
                  <p>Assignments given by event managers to volunteers. These Tabs will have the date and time assignment is due at the top right corner. These are assignments already previously viewed by volunteer</p>
                </div>
                <div class="col px-2 bg-light rounded">
                  <h4>Event Name : Assignment</h4>
                  <p>Assignments given by event managers to volunteers. These Tabs will have the date and time assignment is due at the top right corner. These are assignments already previously viewed by volunteer</p>
                </div>
                <div class="col px-2 bg-light rounded">
                  <h4>Event Name : Assignment</h4>
                  <p>Assignments given by event managers to volunteers. These Tabs will have the date and time assignment is due at the top right corner. These are assignments already previously viewed by volunteer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    
      <footer class="my-5 pt-5 text-body-secondary text-center text-small">
        <p class="mb-1">&copy; 2024 COSC 4353 Software Design: Jay Mejia</p>
      </footer>
    </div>
  </body>
</html>