{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="col-lg-8 p-3 mx-auto bg-primary bg-opacity-25 border border-info rounded">
		<h2>Manage Notification for {{ event.name }}</h2>
		<form method="POST" action="{{url_for('notification_manage', event_id=event_id,notification_id=notification_id)}}">
			{{ form.hidden_tag() }}

			<div class="row g-2">

				<!--Notification Name-->
				<div class="row-sm-6">
					{{ form.name.label(class='form-control-label') }}
					{{ form.name(class='form-control', placeholder='Notification Title') }}
					{% for error in form.name.errors %}
						<div class="text-danger">{{ error }}</div>
					{% endfor %}
				</div>
	
				<!--Notification Description-->
				<div class="row-sm-6">
					{{ form.description.label(class='form-control-label') }}
					{{ form.description(class='form-control', placeholder='Notification Description') }}
					{% for error in form.description.errors %}
						<div class="text-danger">{{ error }}</div>
					{% endfor %}
				</div>
			</div>
			<div class="py-2">
				{{ form.submit(class='w-100 btn btn-primary btn-lg') }}
			</div>
		</form>
	</div>
</div>

{% endblock %}