{% extends 'base.html' %} {% block content %}

<div class="container">
	<div class="col-md-8 p-3 mx-auto bg-primary bg-opacity-25 border border-info rounded">
		<h2>Notification</h2>
		<form method="POST">
			<div class="row g-2">
				<div class="row-sm-6">
					<label for="notif_name" class="form-label"> Notification Name </label>                            
					<input type="text" class="form-control" id="notif_name" name="notif_name" maxlength="100">
					<!--<small id="eventNameHelp" class="form-text text-muted">Max 100 characters. <span id="charCount">0</span>/100</small>-->
				</div>
				<div class="row-sm-6">
					<label for="notif_desc" class="form-label"> Message </label>
					<textarea class="form-control" id="notif_desc" placeholder="Notify your volunteers of any update new or any new assignments that need to get completes or a simple reminder" name="notif_desc" required></textarea>
				</div>
			</div>
			<div class="pt-3">
				<button class="w-100 btn btn-primary btn-lg" type="submit">Create Notification</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}