{% extends 'base.html' %}
{% block content %}

<div class="container">
    <br>
    <h1 class="text-center">Volunteer Matching Form</h1>
    <br>
</div>

<div class="container">
    <br>
    <h3 class="text-center">Volunteer Information</h3>
    <br>
</div>

<div class="text-center border border-info rounded" style="width: 50%; margin-left: 25%;">
    <b>Name:</b>
    <p>{{ volunteer.name }}</p>
    <b>Skills:</b>
    <p>{{ volunteer.skills }}</p> <!-- Assuming skills is a string -->
</div>  

<div class="container">
    <br>
    <h3 class="text-center">Matched Events</h3>
</div>

{% if success_message %}
<div class="container">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ success_message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}

{% for event in events %}
<div class="text-center border border-info table-info rounded" style="width: 50%; margin-left: 25%; margin-top: 20px; padding-bottom: 20px;">
    <b>Event Name:</b>
    <p>{{ event.name }}</p> <!-- Changed event_name to name -->
    <b>Event Description:</b>
    <p>{{ event.description }}</p> <!-- Changed event_description to description -->
    <b>Event Location:</b>
    <p>{{ event.city }}, {{ event.state_id }}, {{ event.zipcode }}</p> <!-- Combined location details -->
    <b>Event Time:</b>
    <p>{{ event.date.strftime('%Y-%m-%d') }}</p> <!-- Showing event date -->
    <b>Urgency:</b>
    <p>{{ event.urgency }}</p>
    <b>Required Skills:</b>
    <p>{{ event.skills }}</p> <!-- Assuming skills is a string -->
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.event_id(value=event.id) }}
        {{ form.submit(class="btn btn-primary") }}
    </form>
    <a href="{{ url_for('view_history', volunteer_id=volunteer.id) }}">View Volunteer History</a>
</div>
{% endfor %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/js/bootstrap.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock %}
