<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maching Form</title>
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
    <div id="main">
    <h1>Volunteer Matching Form</h1>
    </div>

    <div class="info-box">
        <div class="info-item">
            <b>Name:</b>
            <span>John Doe</span>
        </div>
        <div class="info-item">
            <b>Skills:</b>
            <span id="skill-info">Communication, Time management, Leadership</span>
        </div>
    </div>

    <div id="second-title">
        <h3>Matched Events</h3>
    </div>
    <div class="event-box">
        <div class="event-info">
            <b>Event Name:</b>
            <span>Early Voting</span>
        </div>
        <div class="event-info">
            <b>Event Description:</b>
            <span>Helping voters at the polls</span>
        </div>
        <div class="event-info">
            <b>Event Location:</b>
            <span id="skill-info">Houston, TX (77490)</span>
        </div>
        <div class="event-info">
            <b>Event Time:</b>
            <span id="skill-info">6:30 PM - 9:30 PM</span>
        </div>
        <div class="event-info">
            <b>Urgency:</b>
            <span id="skill-info">Medium</span>
        </div>
        <div class="event-info">
            <b>Required Skills:</b>
            <span id="skill-info">Communication, Time management, Leadership</span>
            <button class="view-button">Select Event</button>
        </div>
    </div>
</div>
<div class="event-box">
    <div class="event-info">
        <b>Event Name:</b>
        <span>Food Drive</span>
    </div>
    <div class="event-info">
        <b>Event Description:</b>
        <span>Food drive for people in need</span>
    </div>
    <div class="event-info">
        <b>Event Location:</b>
        <span id="skill-info">Houston, TX (73031)</span>
    </div>
    <div class="event-info">
        <b>Event Time:</b>
        <span id="skill-info">3:30 PM - 7:30 PM</span>
    </div>
    <div class="event-info">
        <b>Urgency:</b>
        <span id="skill-info">High</span>
    </div>
    <div class="event-info">
        <b>Required Skills:</b>
        <span id="skill-info">Communication, Time management</span>
        <button class="view-button">Select Event</button>
    </div>
</div>
    

</body>
</html>

index.html
Displaying index.html.